<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navbar -->
    <div class="page_header">
    <nav>
        <img src="{{ url_for('static', filename='images/avsar.png') }}" width="50" height="50">
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('about') }}">About Us</a> |
        <a href="{{ url_for('contact') }}">Contact Us</a> |
        <a href="{{ url_for('how') }}">How It Works</a> |
        <a href="{{ url_for('gallery') }}">Gallery</a> |
        {% if session.get('logged_in') %}
            <span>Welcome, {{ session.get('user_name') }}</span>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('partner') }}">Partner Login |</a>
            <span style="color: grey;">Logout</span> <!-- or hide -->
        {% endif %}
    </nav>

    <div class="home_heading">
        <strong>!!! Suraksha Sarathy : Your reliable partner in case of road emergency !!!</strong>
    </div>
    </div>

    <!-- Page content -->
    <div class="page_body">
        {% block content %}{% endblock %}
    </div>

<!--
    Footer
    <div class="footer">
        <hr>
        <div class="ftr">
            <div class="cpyrght">&copy; 2025 Suraksha Sarathi</div>
            <div class="social">
                <img src="{{ url_for('static', filename='images/twitter.png') }}" width="20" height="20">
                <img src="{{ url_for('static', filename='images/fb.png') }}" width="20" height="20">
                <img src="{{ url_for('static', filename='images/tg.png') }}" width="20" height="20">
                <img src="{{ url_for('static', filename='images/yt.png') }}" width="20" height="20">
                <img src="{{ url_for('static', filename='images/insta.png') }}" width="20" height="20">
            </div>
        </div>
    </div>
-->
</body>
</html>
