{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
<div class="contact-container">
<div class="contact">
    <h1>Registered Address </h1>
    <p style="align-items: left;">
        Plot No.17, Krishna Vihar Colony <br>
        Opposite J.R.Sharma Collage <br>
        Near Govind Palace Hotel<br>
        Rampura-Ubeshwar link Road<br>
        Gourala , Udaipur 313001 (Raj.)
        <br><br>
    </p>
    <p>
        Contact No. 800-309-4476
        <br><br>
        Email - Info@surakshasarathy@org
        <br><br>
        Web.:www.surakshasarathy.org 
    </p>
</div>
</div>
{% endblock %}
