{% extends "base.html" %}

{% block title %}
Suraksha Sarathy
{% endblock %}

{% block content %}

<div class="home-grid-container">
    <form action="/register_user", method="POST">
        <button class="button-30" type="submit">User Registration</button>
    </form>

    <form action="/document_vault", method="POST">
        <button class="button-30" type="submit">Document Vault</button>
    </form>

    <form action="/quick_alert", method="POST">
        <button class="button-30">Quick Alert</button>
    </form>

    <form action="/emergency_alert", method="POST">
        <button class="button-30">Emergency Alert</button>
    </form>
</div>

{% endblock %}
