<!DOCTYPE html>
<html>
    <head>
        <title>Personalized QR Code Generator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
        <!-- link rel="stylesheet" href="style.css" --> 
    </head>
    <body>
        <div class="grid-container">

            <div class="header" style="display: flex; align-items: center; gap: 10px; margin: auto;">
                <img src="/static/avsar.png" width="75" height="75" >
                <h1>!!! Suraksha Sarathi - your trusted partner in case of emergency !!!</h1>
            </div>

            <div class="sidebar1"></div>

            <div class="form-content">
                <p>Thank you for creating your personal QR Code</p>
                <p>Do visit again and spread the word with your family & friends to use this service</p>
            </div>

            <div class="qr-code">
            </div>

            <div class="sidebar2"></div>

            <div class="footer"><h2><i>social media links - facebook, insta, telegram etc will come here once set up</i></h2></div>

        </div>

    </body>
</html>
